<div class="messageInputContainer">
    <div class="blockInput1">
        <img class="iconMessageInput" src="../../static/svg/addfile.svg" alt="addfile"/>
    </div>
    <label class="blockInput2">
        <textarea class="message" name="message" placeholder="Type your message here..."></textarea>
    </label>
    <div class="blockInput3">
        <img class="iconMessageInput" src="../../static/svg/emoji.svg" alt="emoji"/>
        <img class="iconMessageInput" src="../../static/svg/camera.svg" alt="camera"/>
    </div>
</div>
