<nav class="navbar">
    {{> Avatar link="https://doodleipsum.com/700/avatar?i=7aa650776eee7ca68a32d5d808fc4f57"}}
    <div class="navigation">
        <img src="../../static/svg/home.svg" alt="home" page="error-page"/>
        <img src="../../static/svg/message.svg" alt="message" page="chat"/>
        <img src="../../static/svg/settings.svg" alt="settings" page="user-settings"/>
    </div>
    <div class="logout">
        <img src="../../static/svg/exit.svg" alt="exit" page="login"/>
    </div>
</nav>