@import "../../static/constantStyles";

@mixin listItems {
  padding: 5px;
  background: $backgroundBlock;

  @include flexElement (column);

  align-items: inherit;
}

.chatContainer{
  padding: 10px;

  @include flexElement (row);

  .chatList{
    width: 33%;
    height: $heightScreen;

    @include flexElement (column);

    > div{
      @include contentBlock($width: 100%)
    }

    .search{
      display: flex;
      padding: 10px;

      img{
        width: 20px;
        margin-right: 20px;
        background: $backgroundBlock;
      }

      div{
        margin: 0;
      }

      .inputSearch{
        width: 100%;
        font-size: 16px;
        outline: none;
        background: $backgroundBlock;
        border: 0;
        margin: 0;
        padding: 0;
      }
    }

    .groupList{
      height: 35%;
      overflow: hidden;

      > div {
        @include listItems
      }
    }

    .contactList{
      height: 90%;
      overflow: hidden;

      > div {
        @include listItems
      }

      ul {
        height: 400px;
        overflow: scroll;
        background: inherit;
      }
    }

    .list{
      background: $backgroundBlock;
    }
  }

  .chatTitle{
    display: flex;
  }

  .inputChatBlock{
    display: flex;
    flex-direction: row !important;
    visibility: hidden;

    img{
      background: inherit;
      cursor: pointer;
    }
  }

  .chat{
    @include contentBlock($width: 60%);

    height: $heightScreen;

    @include flexElement (column);

    align-items: initial;

    .headerChat{
      display: flex;
      flex-direction: row;
      align-items: center;
      background: inherit;

      .noneElement{
        display: none;
      }

      img{
        background: inherit;
        margin-left: 20px;
        cursor: pointer;
      }

      input {
        width: 300px;
        margin-left: 20px;
      }

      .usersBlock{
        width: 250px;
        height: 25px;
        overflow: scroll;
        background: inherit;
        margin-left: 10px;
      }
    }

    .messageInputContainer{
      background: inherit;
      display: flex;
      align-items: center;

      .message{
        width: 90%;
        border: none;
        border-radius: 10px;
        padding: 10px;
        outline: none;
      }

      img{
        margin-left: 20px;
        background: inherit;
        cursor: pointer;
      }
    }
  }


  .messagesBlock{
    height: 80%;
    overflow: scroll;
    background: inherit;
    padding: 20px;
  }
}

