<main class="chatContainer">
    {{> NavBar}}
    <div class="chatList">
        <div class="search">
            <img src="../../static/svg/search.svg" alt="search"/>
            {{> InputField class="inputSearch" title="Login" name="login" placeholder="search"}}
        </div>
        <div class="groupList">
            {{> Title text="Groups"}}
                <ul class="list">
                    {{#each (chat-page-group-list)}}
                        {{> ChatItem }}
                    {{/each}}
                </ul>
        </div>
        <div class="contactList">
            {{> Title text="People"}}
            <ul class="list">
                {{#each (chat-page-contact-list)}}
                    {{> ChatItem }}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="chat">
        <div class="headerChat">
        </div>
        <div class="messagesBlock"></div>
        {{> MessageInput}}
    </div>
</main>
