@import "../../static/constantStyles";

.errorContainer{
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $accentBackground;
  .errorText{
    font-size: 10em;
  }
  a {
    background: inherit;
  }
}
