<main class="errorContainer">
    <div class="errorText">
        {{ text }}
    </div>
    {{#if link }}
        {{> LinkText text="400" page="notfound-page"}}
    {{else }}{{/if}}
    {{> LinkText text="to chats" page="chat"}}
</main>
