.myMessage{
  width: fit-content;
  max-width: 300px;
  background: #6E00FF;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
}

.userMessage{
  width: fit-content;
  background: #B4ABAB;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
